<a href="https://colab.research.google.com/github/kirtilodha/Summer-of-Bitcoin2021/blob/main/solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing pandas library and making an alias pd

In [ ]:
import pandas as pd

reading csv file

In [ ]:
df  = pd.read_csv("mempool.csv")
df.head()

                                               tx_id  ...                                           parents
0  2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...  ...                                                NaN
1  79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...  ...  6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2  b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...  ...                                                NaN
3  8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...  ...                                                NaN
4  edc82751537be6afcb21c0229d8d20916d8e742a363ab2...  ...                                                NaN

[5 rows x 4 columns]

sorting the dataframe

In [ ]:
def sort_trans(df, maxfee, minwght):
    df = df.sort_values([maxfee, minwght], ascending=[False, True]).reset_index(drop=True)
    return df

checks if the current weight and adding of more weight exceeds the max weight

In [ ]:
def check_weight(x):
    if min_weight + x['weight'] <= max_weight:
        return True
    else:
        return False

checking if the transaction id is present in final list

In [ ]:
def check_list(x):
    if str(x) in final_set_of_txids:
        return True
    else:
        return False

check if the parent id is in final list and if not then check if its possible to add

In [ ]:
def check_parent(x):
    if str(x[3]) != "nan":
        parent_list = str(x[3]).split(";")
        for i in parent_list:
            if(check_list(i)):
                continue
            else:
                txnindex = df[df['tx_id'] == i].index.item()
                k = df.loc[txnindex]
                check_add_txn(k)

adding the transaction id to the final list and adding the weight

In [ ]:
def add_to_block(x):
    global min_weight
    txnID = x[0]
    weight = x[2]
    min_weight += weight
    final_set_of_txids.append(txnID)

to check if a transaction id can be added or not

In [ ]:
def check_add_txn(x):
    if(check_weight(x)):
        if(not check_list(x)):
            check_parent(x)
            if(check_weight(x)):
                add_to_block(x)

main code

In [ ]:
def Main(df):
    sorted_transactions = sort_trans(df, "fee", "weight")
    for i in range(len(sorted_transactions)):
        txnVar =  sorted_transactions.loc[i]
        check_add_txn(txnVar)

for output:

In [ ]:
def output(fin_list):
    file = open("block.txt","a")
    for i in fin_list:
        file.write(str(i) + '\n')
    file.close()

In [ ]:
max_weight = 4000000
min_weight = 0
final_set_of_txids = []

data = df
Main(data)

output(final_set_of_txids)